html, body {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  margin: 0;
  background-color: #000;
  color: #fff;
  padding: 10px;
}

input, button {
  border: none;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.quote {
  margin: 40px 0;
  width: 100%;
  font-size: 5.5em;
  font-weight: bold;
}